*{
    margin:0;
    padding:0;
}
body { 
    background-image: url(../img/bg1.jpg);
    background-position:top;
    background-size:100% 600px;
    background-repeat: no-repeat;
    background-color: #222222;
}
.wrapper {
    width: 1000px;
    margin: auto;
    max-width: 100%;
}
/*HEADER*/

 .header {

    display: flex;
    flex-direction: column;
    height:600px;
    margin:0px auto 60px auto;
    
}
 
/*NAVIGATION*/

.header .menu {

    margin:40px;
    text-align: right;
    justify-content: flex-end;

}

.header .menu .item-menu {

    text-decoration: none;
    color:#fb1c37;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 5px;
    margin: 0px 20px 40px 20px ;
}

.header .menu .item-menu:hover {
    border-bottom: 2px solid  #fb1c37;

}

.header .nav .a:active {

    color:  #fb1c37;
    border: 2px solid  #fb1c37;
}

.header .name-container {

    margin: auto;
    justify-self: center;
    border: 2px solid  #fb1c37;
    align-self: center;
    border-radius: 5px;
    padding:20px 40px;

}

.header .name-container h2{
    text-align: center;
    font-size: 58px;
    color: #fb1c37;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.name-container p {
    text-align: center;
    font-size: 28px;
    color:  #fb1c37;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}


.main {
    background: #2a2b2e;
    margin:60px 0px;
}

.main .about{
    text-align: center; 
    margin: auto;
    padding:60px 60px;
}

.main .about h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: 300;
    color:#fb1c37;
    margin-bottom: 20px;
}

.main .about p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #e6e6e6;
    font-weight: 500;
    margin: 20px;

}

.main .skills {
    background:#222222;
    padding: 60px 0px; 
    margin:auto;
}

.main .skills h3 {

    font-family: 'Open Sans', sans-serif;
    font-size: 38px;
    font-weight: 300;
    color:#fff;
    text-align: center;
    display: block;
    margin-bottom: 20px;

}

.main .skills .skills-container {

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.main .skills .skills-container .skill-container {

    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #fff;
    margin:0px 30px 60px 30px;
    width:235px;

}



.main .skills .skills-container .skill-container .description {

    color:#fff;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 16px;

}


.main .skills .skills-container .skill-container h4 {

    color: #fb1c37;
    font-weight:bold;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    margin-bottom: 10px;

}

.main .works{
    padding: 60px;

}

.main .works h3 {

    font-family: 'Open Sans', sans-serif;
    font-size:35px;
    font-weight: 300;
    color:#fb1c37;
    margin-bottom: 20px;
    text-align: center;

}

.main .works .works-container {
    
     display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.main .works .works-container .work-container {

    width: 235px;
    margin: 60px auto;

}

.main .works .works-container .work-container h4 {

    color: #fff;
    font-weight:bold;
    font-family: "Open Sans", sans-serif;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;

}

.main .contact {
    padding:60px 0px;
    margin: auto;
    background:#222222;

}

.main .contact h3 {

    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: 300;
    color:#fff;
    margin-bottom: 20px;
    text-align: center;
    
}

.main .contact div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.icon-container i {
    color: #fb1c37;
    font-size: 250px;
}

.icon-container i:hover {
    color:#fff;
}



/*MEDIA QUERYS*/

@media screen and (max-width: 560px){
    .name-container {
        width: 280px;
        padding: 10px 20px;
    }
    
    nav {

    }

    nav a{
        margin-bottom: 40px;

    }
   header nav a{
    margin: 0px 10px;
   }
}

